body{
    background-color: #faf0e6;
    position: fixed;
}



.body1{
    background-color: #bbb;
    opacity: 0.8;
    
    box-shadow: 10px 5px 5px rgb(135, 135, 135);
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 5%;
    padding-right: 20px;
    margin-bottom: 20px;
    opacity: 0.6;
}
.body2{
    background-color: #bbb;
    opacity: 0.8;
    
    box-shadow: 10px 5px 5px rgb(135, 135, 135);
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 5%;
    opacity: 0.6;


}


h5{
    text-align: center;
    padding-bottom: 6px;
    border-bottom: solid 1px black;
 
}